@model ProductDetailsCardViewModel


<section class="product-info">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-5">
                <div class="big-img p-0">
                    <img src="@Model.ImageUrl"
                         alt="@Model.Name" />
                </div>
                <div class="row small-row d-flex">
                    <div class="col-12 d-flex">
                        <img src="@Model.ImageUrl"
                             alt="@Model.Name" />
                        <img src="@Model.ImageUrl"
                             alt="@Model.Name" />
                        <img src="@Model.ImageUrl"
                             alt="@Model.Name" />
                        <img src="@Model.ImageUrl"
                             alt="@Model.Name" />
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6">
                <div class="info">
                    <div class="description">
                        <h3>@Model.Name</h3>
                        <p>
                            @Model.Description
                        </p>
                    </div>
                    <div class="rating">
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <span class="star">
                            <i class="fa-solid fa-star"></i>
                        </span>
                        <span> 16 Reviews</span>
                    </div>
                    <div class="price">$@if(Model.Discount > 0)
                        {
                            @(String.Format("{0:F0}", Model.Price - (Model.Price * Model.Discount / 100)))
                        }
                        else
                        {
                            @Model.Price.ToString("0.##")
                        }
                    </div>
                    <div class="add-to-cart">
                        <span class="minus">
                            <i class="fa-solid fa-minus"></i>
                        </span>
                        <span class="quantity">1</span>
                        <span class="plus">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                        <button>
                            Add to cart
                            <i class="fa-regular fa-cart-plus"></i>
                        </button>
                    </div>
                    <div class="color">
                        <span><i class="fa-solid fa-circle"></i></span>
                        <span><i class="fa-solid fa-circle"></i></span>
                        <span><i class="fa-solid fa-circle"></i></span>
                        <span>SKU: N/A</span>
                    </div>
                    <div class="wishlist">
                        <button class="wishlist">
                            Add to wishlist
                        </button>
                    </div>
                    <div class="category">
                        Category: @Model.Category.Name
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="additional-info">
    <div class="navigation-btns">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <button class="active">DESCRIPTION</button>
                <button>ADDITIONAL INFO</button>
                <button>REVIEWS (0)</button>
                <button>SHIPPING & DELIVERY</button>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-11">
                    <h3>
                        Duis autem vel eum iriure dolor in hendrerit in
                        vulputate velit esse molestie.
                    </h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="info col-12 col-lg-6">
                    <p>
                        @Model.Description
                    </p>
                  
                </div>
                <div class="image col-lg-5">
                    <img src="@Model.ImageUrl"
                         alt="" />
                    <p>New</p>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>
