@model List<UserWithRolesViewModel>

@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";
	var currentUser = await userService.CurrentUser(User);
}
<div class="container mt-5">
	<div class="row d-flex justify-content-center">
		<div class="col-8">
			<div class="row d-flex justify-content-center">
				@foreach (var user in Model)
				{
					<div class="col-8 d-flex align-items-center my-3">
						<i class="fa-solid fa-user"></i>
						<p class="mx-2 mb-0">@user.FirstName @user.LastName</p>
						<p class ="mx-2 mb-0">@user.RoleName</p>
						<a asp-route-id="@user.Id" asp-action="EditUser" asp-controller="admin">Change role</a>
					</div>

				}
			</div>
		</div>


	</div>
</div>

@if (signInManager.IsSignedIn(User))
{
	<p>@currentUser.FirstName</p>
	<p>@currentUser.LastName</p>
	<p>@currentUser.Email</p>
	if (currentUser.Adresses != null)
	{
		@foreach (var adress in currentUser.Adresses)
		{
			<p>@adress.StreetName</p>
			<p>@adress.PostalCode</p>
			<p>@adress.City</p>
		}
	}
}

