@{
	ViewData["Title"] = "My Account";
	var currentUser = await userService.CurrentUser(User);
}
@if (signInManager.IsSignedIn(User))
{
	<p>@currentUser.FirstName</p>
	<p>@currentUser.LastName</p>
	<p>@currentUser.Email</p>
	if (currentUser.Adresses != null)
	{
		@foreach (var adress in currentUser.Adresses)
		{
			<p>@adress.StreetName</p>
			<p>@adress.PostalCode</p>
			<p>@adress.City</p>
		}
	}
}